@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;

	background-color: #ecdfcc;
}

.page-header {
	margin-block: 6rem;
	margin-inline: 4rem;
}

.page-header h1 {
	font-family: "Edu AU VIC WA NT Dots";
	margin-block: 1.5rem;
}
